nav {
  width: 100vw;
  height: 8rem;
  display: grid;
  place-items: center;
  background: var(--color-primary);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  box-shadow: 0 1.6rem 2.4rem hsla(var(--primary-hue), 70%, 45%, 25%);
  transition: var(--transition);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  overflow: hidden;
}

.nav-menu {
  display: flex;
  gap: 5.6rem;
}

#theme-icon {
  background: transparent;
  color: white;
  font-size: 3.2rem;
  cursor: pointer;
}

/* HIDE NAV MENU ON TABLETS AND PHONES */
@media screen and (max-width: 1024px) {
  .nav-menu {
    display: none;
  }
}
